<link rel="stylesheet" href="../publics/footer.css" />

<div class="footer">
  <div class="guide">
    <h5>ご利用ガイド</h5>
    <p>メンバーシップ</p>
    <p>店舗検索</p>
    <p>注文履歴</p>
    <p>ギフトカード</p>
    <p>ランニングシューズガイド</p>
    <p>商品アドバイス</p>
  </div>
  <div class="discount">
    <h5>各種割引</h5>
    <p>誕生日割引</p>
    <p>学生•教職員割引</p>
    <p>障がい者割引</p>
  </div>
  <div class="help">
    <h5>ヘルプ</h5>
    <p>ヘルプ</p>
    <p>配送</p>
    <p>返品</p>
    <p>お支払い方法</p>
    <p>コンビニ受け取り</p>
    <p>お問い合わせ</p>
  </div>
  <div class="information">
    <h5>企業情報</h5>
    <p>ナイキ</p>
    <p>ニュース</p>
    <p>採用情報</p>
    <p>投資家向け情報</p>
    <p>サステナビリティ</p>
    <p>フィードバック</p>
    <p>懸念事項の報告</p>
  </div>
</div>
